KVS_PRODUCER_BUILD_PATH="YOUR_HOME/amazon-kinesis-video-streams-producer-sdk-cpp/build/"
KVS_STREAM_NAME="raspi-stream"
SNS_TOPIC_ARN="arn:aws:sns:YOUR_SNS_TOPIC_ARN"
AWS_ACCESS_KEY_ID="YOUR_AWS_ACCESS_KEY"
AWS_SECRET_ACCESS_KEY="YOUR_AWS_SECRET_ACCESS_KEY"
AWS_SESSION_TOKEN=""
AWS_DEFAULT_REGION="YOUR_REGION"
